html {
  background-color: aliceblue;
  color: #1a2942;
  font-family: "Courier New", Courier, monospace;
  padding: 1em;
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
}

p {
  line-height: 1.6;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
